.poljeIspravno {
   -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
   -fx-control-inner-background: lightpink;
}

#imgKorisnik {
    -fx-background-image: url("/img/face-smile.png");
    -fx-background-size: 128px 128px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
